.calendar-container {
    width: 320px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weekdays,
.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.weekdays div {
    font-weight: bold;
    padding: 5px 0;
}

.day {
    padding: 8px 0;
    border: 1px solid #eee;
   
}

.red-day {
    background: #ff6666;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.blank {
    background: transparent;
}
